stylesheet.css
/*全体の文字フォント変更処理*/
body{
    font-family: 'Roboto', sans-serif;
}
/*リストの処理*/
li{
    list-style: none;
}

/*ヘッダー全体の処理*/
.header{
    background-color: #26d0c9;
    color: #fff;
    float:left;
    width:100%;
    text-align: center;    /* 中央揃え */
}

/*ヘッダーロゴの処理*/
.header-logo{
    font-size: 48px;
    padding: 20px 40px;
}

/*ヘッダーリストの処理*/
.header-list{
    padding:33px 20px;
    float:right;
}

/*メイン全体の処理*/
.main{
    padding:100px 80px;
}

/*最初の紹介文*/
.copy-container h1{
    font-size: 80px;
}
.copy-container h2{
    font-size: 40pxpx;
}

/*コンテンツの全体処理*/
.contents{
    height:500px;
    margin-top: 100px;
}

/*コンテンツタイトル処理*/
.contents-title{
    margin-top:50px;
    border-bottom:2px solid #000;
}

/*フッターの処理*/
.footer{
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding:40px;
}

/*フッターロゴの処理*/
.footer-logo{
    float:left;
    font-size: 32px;
}