stylesheet.css
/*全体の文字フォント変更処理*/
body,html{
    font-family: 'Roboto', sans-serif;
}
/*リストの処理*/
li{
    list-style: none;
}

/*ヘッダー全体の処理*/
.header{
    background-color: #26d0c9;
    color: #fff;
    width:100%;
    height: 90px;
}

/*ヘッダーロゴの処理*/
.header-logo{
    float:left;
    font-size: 32px;
    padding: 20px 20px;
}

/*ヘッダーリストの処理*/
.header-list li{
    padding:33px 20px;
    float:left;
}

/*メイン全体の処理*/
.main{
    padding:100px 80px;
    padding-bottom: 200px; /* フッターとの距離を広げる */
}

/*最初の紹介文*/
.copy-container h1{
    font-size: 80px;
}
.copy-container h2{
    font-size: 40pxpx;
}

/*コンテンツの全体処理*/
.contents{
    height:500px;
    margin-top: 100px;
}

/*コンテンツタイトル処理*/
.contents-title{
    margin-top:50px;
    border-bottom:2px solid #000;
}

/*フッターの処理*/
.footer{
    background-color: #2f5167;
    color: #fff;
    height: 60px;
}

/*フッターロゴの処理*/
.footer-logo{
    float:left;
    font-size: 20px;
}